{% include "base.html" %}

{% block body %}

    <body class="d-flex align-items-center justify-content-center vh-100">

    <div class="container">
        <form action="#" method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            <div class="form-group d-flex align-items-center AddParted p-1">
                {% for form in formset %}
                    {{ form.name }}
                    {{ form.isbn_number }}
                {% endfor %}
                <button type="button" class="btn btn-primary ml-2 mx-2" onclick="addFormGroup(this)">+</button>
            </div>
            <button type="submit" class="btn btn-success btn-block mt-3 mx-2 d-flex justify-content-end">Submit</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        function addFormGroup(button) {
            const formGroup = button.closest('.form-group');
            const newFormGroup = formGroup.cloneNode(true);
            // todo: clone node add the field under + button . must add under all inputs
            newFormGroupInputs = newFormGroup.querySelectorAll('input')
            newFormGroupInputs.forEach((input) => {
                input.value = ''
            })
            const newButton = newFormGroup.querySelector('.btn');
            newButton.textContent = '-';
            newButton.classList.remove('btn-primary');
            newButton.classList.add('btn-danger');
            newButton.setAttribute('onclick', 'removeFormGroup(this)');
            formGroup.parentNode.insertBefore(newFormGroup, formGroup.nextSibling);
            let formCounter = document.getElementById('id_form-TOTAL_FORMS')
            formCounter.value = Number(formCounter.value) + 1
            updateFormIndexes()
        }
        function removeFormGroup(button) {
            const formGroup = button.closest('.form-group');
            formGroup.remove();
            let formCounter = document.getElementById('id_form-TOTAL_FORMS')
            formCounter.value = Number(formCounter.value) - 1
            updateFormIndexes()
        }

        function updateFormIndexes() {
            const formGroups = document.querySelectorAll('.form-group');

            formGroups.forEach((group, index) => {
                const inputs = group.querySelectorAll('input');
                inputs.forEach(input => {
                    const oldName = input.getAttribute('name');
                    const oldId = input.getAttribute('id');

                    if (oldName && oldId) {
                        const newName = oldName.replace(/form-\d+/, `form-${index}`);
                        input.setAttribute('name', newName);
                        const newId = oldId.replace(/id_form-\d+/, `id_form-${index}`);
                        input.setAttribute('id', newId);
                    }
                });
            });
        }
</script>
{% endblock %}
